@import "card.css";
@import "ad.css";
@import "blogpost.css";
 
body {
    box-sizing: border-box;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    grid-template-areas:
        "header header header header"
        "ad content content content"
        "ad content content content"
        "ad content content content"
        "ad content content content"
        "ad content content content"
        "ad content content content"
        "footer footer footer footer";
}

header {
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
    grid-area: header;
}

nav {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav li {
    margin: 10px;
    min-width: 60px;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

footer {
    text-align: center;
    grid-area: footer;
}


@media (max-width: 770px) {
    body {
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 250px;
        grid-template-areas:
            "header header header header"
            "content content content content"
            "content content content content"
            "content content content content"
            "content content content content"
            "ad ad ad ad"
            "ad ad ad ad"
            "footer footer footer footer";
    }
    .card {
        border-style: solid;
        border-radius: 5px;
        border-color: yellow;
        min-width: 80vw;
        min-height: 30vh;
    
    }
    .product {
        max-height: 100px;
        box-sizing: border-box;
    }
}